RewriteEngine on

RewriteRule ^login$ index.php?DIR=login.php&CERTIFY_CODE=e5933514ba109163126165514ff3d72f [L]
RewriteRule ^signup$ index.php?DIR=signup.php&CERTIFY_CODE=e5933514ba109163126165514ff3d72f [L]
RewriteRule ^signup/verify$ index.php?DIR=signup.php&CERTIFY_CODE=e5933514ba109163126165514ff3d72f&singupAction=emailVerify [L]
RewriteRule ^forgot$ index.php?DIR=forgot.php&CERTIFY_CODE=e5933514ba109163126165514ff3d72f [L]
RewriteRule ^forgot/verify index.php?DIR=forgot.php&CERTIFY_CODE=e5933514ba109163126165514ff3d72f&Action=forgotVerify [L]
RewriteRule ^forgot/resetpass index.php?DIR=forgot.php&CERTIFY_CODE=e5933514ba109163126165514ff3d72f&Action=changePassword [L]
RewriteRule ^profile$ index.php?DIR=panel.php&CERTIFY_CODE=e5933514ba109163126165514ff3d72f [QSA]
RewriteRule ^profile/editProfile$ index.php?DIR=panel.php&CERTIFY_CODE=e5933514ba109163126165514ff3d72f&parts=editprofile&panelaction=editProfile [L]
RewriteRule ^profile/wallet/new$ index.php?DIR=panel.php&CERTIFY_CODE=e5933514ba109163126165514ff3d72f&parts=my_wallet&panelaction=newWallet [L]
RewriteRule ^profile/history/competitions$ index.php?DIR=panel.php&CERTIFY_CODE=e5933514ba109163126165514ff3d72f&parts=competition_history [L]
RewriteRule ^profile/history/factors index.php?DIR=panel.php&CERTIFY_CODE=e5933514ba109163126165514ff3d72f&parts=factors_history [L]
RewriteRule ^profile/history/messages index.php?DIR=panel.php&CERTIFY_CODE=e5933514ba109163126165514ff3d72f&parts=messages_history [L]
RewriteRule ^profile/history/wallet index.php?DIR=panel.php&CERTIFY_CODE=e5933514ba109163126165514ff3d72f&parts=wallet_history [L]
RewriteRule ^profile/ticket/owned index.php?DIR=panel.php&CERTIFY_CODE=e5933514ba109163126165514ff3d72f&parts=owned_tickets [L]
RewriteRule ^profile/ticket/buy index.php?DIR=panel.php&CERTIFY_CODE=e5933514ba109163126165514ff3d72f&parts=buy_tickets [L]
RewriteRule ^profile/wallet$ index.php?DIR=panel.php&CERTIFY_CODE=e5933514ba109163126165514ff3d72f&parts=my_wallet [L]
RewriteRule ^profile/wallet/withdrawal$ index.php?DIR=panel.php&CERTIFY_CODE=e5933514ba109163126165514ff3d72f&parts=withdrawalWallet&withdrawal_request_actions=new [L]
RewriteRule ^profile/wallet/withdrawal/management$ index.php?DIR=panel.php&CERTIFY_CODE=e5933514ba109163126165514ff3d72f&parts=withdrawal_management_client [L]
RewriteRule ^profile/withdrawals$ index.php?DIR=panel.php&CERTIFY_CODE=e5933514ba109163126165514ff3d72f&parts=withdrawal_management_admin [L]
RewriteRule ^profile/withdrawals_info$ index.php?DIR=panel.php&CERTIFY_CODE=e5933514ba109163126165514ff3d72f&parts=withdrawals_info [QSA]
RewriteRule ^profile/wallet/deposit$ index.php?DIR=panel.php&CERTIFY_CODE=e5933514ba109163126165514ff3d72f&parts=depositWallet [L]
RewriteRule ^profile/wallet/edit$ index.php?DIR=panel.php&CERTIFY_CODE=e5933514ba109163126165514ff3d72f&parts=my_wallet_info [L]
RewriteRule ^profile/mail/inbox$ index.php?DIR=panel.php&CERTIFY_CODE=e5933514ba109163126165514ff3d72f&parts=mail_inbox [L]
RewriteRule ^profile/wallet/deposit/request index.php?DIR=panel.php&CERTIFY_CODE=e5933514ba109163126165514ff3d72f&parts=depositWallet&panelaction=depositWallet [L]
RewriteRule ^profile/setting$ index.php?DIR=panel.php&CERTIFY_CODE=e5933514ba109163126165514ff3d72f&parts=setting_menu [L]
RewriteRule ^profile/setting/server-about$  index.php?DIR=panel.php&CERTIFY_CODE=e5933514ba109163126165514ff3d72f&parts=server-about [L]
RewriteRule ^profile/setting/server-about/dochanges  index.php?DIR=panel.php&CERTIFY_CODE=e5933514ba109163126165514ff3d72f&parts=server-about&Action=changeinfo [L]
RewriteRule ^profile/setting/payments$ index.php?DIR=panel.php&CERTIFY_CODE=e5933514ba109163126165514ff3d72f&parts=payment_setting [L]
RewriteRule ^profile/setting/payments/edit index.php?DIR=panel.php&CERTIFY_CODE=e5933514ba109163126165514ff3d72f&parts=payment_setting&action=edit [QSA]
RewriteRule ^profile/setting/payments/changeStat index.php?DIR=panel.php&CERTIFY_CODE=e5933514ba109163126165514ff3d72f&parts=payment_setting&action=changeStat [QSA]
RewriteRule ^profile/setting/payments/add index.php?DIR=panel.php&CERTIFY_CODE=e5933514ba109163126165514ff3d72f&parts=payment_setting&action=new [L]
RewriteRule ^profile/support_messages$ index.php?DIR=panel.php&CERTIFY_CODE=e5933514ba109163126165514ff3d72f&parts=admin_support_messages [L]
RewriteRule ^profile/support_messages/view index.php?DIR=panel.php&CERTIFY_CODE=e5933514ba109163126165514ff3d72f&parts=view_support_message [QSA]
RewriteRule ^profile/support/contact$ index.php?DIR=panel.php&CERTIFY_CODE=e5933514ba109163126165514ff3d72f&parts=contact_support [L]
RewriteRule ^profile/support/new$ index.php?DIR=panel.php&CERTIFY_CODE=e5933514ba109163126165514ff3d72f&parts=new_support_message [L]
RewriteRule ^profile/support/messages$ index.php?DIR=panel.php&CERTIFY_CODE=e5933514ba109163126165514ff3d72f&parts=client_support_messages [L]
RewriteRule ^register$ index.php?DIR=register.php&CERTIFY_CODE=e5933514ba109163126165514ff3d72f [L]
RewriteRule ^admin index.php?DIR=panel.php&CERTIFY_CODE=e5933514ba109163126165514ff3d72f [L]
RewriteRule ^logout index.php?DIR=panel.php&CERTIFY_CODE=e5933514ba109163126165514ff3d72f&logout [L]
RewriteRule ^ticket/buy index.php?DIR=ticket.php&CERTIFY_CODE=e5933514ba109163126165514ff3d72f&action=buy [QSA]
RewriteRule ^ticket/delete index.php?DIR=ticket.php&CERTIFY_CODE=e5933514ba109163126165514ff3d72f&action=deleteFactor [QSA]
RewriteRule ^ticket index.php?DIR=ticket.php&CERTIFY_CODE=e5933514ba109163126165514ff3d72f [L]
RewriteRule ^factor index.php?DIR=ticket.php&CERTIFY_CODE=e5933514ba109163126165514ff3d72f&action=factor [QSA]
RewriteRule ^callback index.php?DIR=ticket.php&CERTIFY_CODE=e5933514ba109163126165514ff3d72f&action=callback [L]
RewriteRule ^results index.php?DIR=competition.php&CERTIFY_CODE=e5933514ba109163126165514ff3d72f&results [QSA]
RewriteRule ^faq index.php?DIR=home.php&CERTIFY_CODE=e5933514ba109163126165514ff3d72f&parts=faq [L]
RewriteRule ^how-to-play index.php?DIR=home.php&CERTIFY_CODE=e5933514ba109163126165514ff3d72f&parts=how-to-play [L]


